In [19]:
import requests, json, time, datetime
from datetime import datetime
import psycopg2 as p
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [28]:
start_time = time.time()

In [97]:
password = 'Evergreen1'

conn = p.connect(database = 'postgres', user = 'postgres', password = password, 
                       host = 'localhost', port = 5433)
cur = conn.cursor()

In [72]:
cur.execute("""select census_num, phy_str, phy_city, phy_st, phy_zip, mai_str, mai_city, mai_st, mai_zip, tel_num, name 
            from mcmiscandidate 
            where 
                insertion_flag = 'N' and 
                reject_reason is not null and 
                (phy_str is not null and mai_str is not null) and 
                (tel_num is not null and fax_num is not null) and 
                (phy_natn = 'US' and mai_natn = 'US')""")
rows = cur.fetchall()

In [73]:
phy_add = []

with requests.Session() as s:
    
    for index, data in enumerate(rows):
        
        r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=F2xsYwygKO1EfNo3Ppd335**&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes,GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" 
                  + data[10] + """&a1="""+ data[1] + """&city=""" + data[2] + """&state=""" + data[3] + """&postal=""" + data[4] + """&phone=""" +str(data[9]))
        phy_info = r.json()
        
        phy_add.append([phy_info, {'index_number':index, 'mcmis_census_num':data[0]}])

In [74]:
# Compares the first and second addrresses and only send it through if they're different
mai_add = []

with requests.Session() as s:
    
    for index, data in enumerate(rows):
        if data[1] != data[2]:
            
            r = s.get("""https://businesscoder.melissadata.net/WEB/BusinessCoder/doBusinessCoderUS?id=F2xsYwygKO1EfNo3Ppd335**&cols=GrpCensus,GrpGeoCode,GrpBusinessCodes,GrpAddressDetails,GrpBusinessDescription,Contacts&comp=""" + 
                      data[10] + """&a1="""+ data[5] + """&city=""" + data[6] + """&state=""" + data[7] + """&postal=""" + data[8] + """&phone=""" +str(data[9]))
            
            mai_info = r.json()
            
            mai_add.append([mai_info, {'index_number':index, 'mcmis_census_num':data[0]}])
            
        else:
            continue

In [84]:
df1 = pd.DataFrame(columns = ['census_num', 'company_name', 'phy_address1', 'phy_address2', 'phy_city', 'phy_state', 'phy_countyfips', 'phy_countyname', 'phy_latitude', 
                              'phy_longitude', 'phy_zip_code', 'phy_result_codes'])

for index, info in enumerate(phy_add):

    
    census_num = info[1]['mcmis_census_num']
    company_name = info[0]['Records'][0]['CompanyName']
    phy_address = info[0]['Records'][0]['AddressLine1']
    phy_suite = info[0]['Records'][0]['Suite']
    phy_city = info[0]['Records'][0]['City']
    phy_state = info[0]['Records'][0]['State']
    phy_zip_code = info[0]['Records'][0]['PostalCode']
    phy_countyfips = info[0]['Records'][0]['CountyFIPS']
    phy_countyname = info[0]['Records'][0]['CountyName']
    phy_latitude = info[0]['Records'][0]['Latitude']
    phy_longitude = info[0]['Records'][0]['Longitude']
    phy_result_codes = info[0]['Records'][0]['Results']
    
    df1 = df1.append({'census_num':census_num, 'company_name':company_name, 'phy_address1':phy_address, 'phy_address2':phy_suite, 'phy_city':phy_city, 
                      'phy_state':phy_state,'phy_countyfips':phy_countyfips, 'phy_countyname':phy_countyname, 'phy_latitude':phy_latitude, 'phy_longitude':phy_longitude, 
                      'phy_zip_code': phy_zip_code, 'phy_result_codes':phy_result_codes}, ignore_index = True)

In [86]:
df2 = pd.DataFrame(columns = ['census_num', 'mai_address1', 'mai_address2', 'mai_city', 'mai_state', 'mai_countyfips', 'mai_countyname', 'mai_latitude', 
                              'mai_longitude', 'mai_zip_code', 'mai_result_codes'])

for index, info in enumerate(mai_add):

        
    census_num = info[1]['mcmis_census_num']
    mai_address = info[0]['Records'][0]['AddressLine1']
    mai_suite = info[0]['Records'][0]['Suite']
    mai_city = info[0]['Records'][0]['City']
    mai_state = info[0]['Records'][0]['State']
    mai_countyfips = info[0]['Records'][0]['CountyFIPS']
    mai_countyname = info[0]['Records'][0]['CountyName']
    mai_latitude = info[0]['Records'][0]['Latitude']
    mai_longitude = info[0]['Records'][0]['Longitude']
    mai_zip_code = info[0]['Records'][0]['PostalCode']
    mai_result_codes = info[0]['Records'][0]['Results']
    
    df2 = df2.append({'census_num':census_num, 'mai_address1':mai_address, 'mai_address2':mai_suite, 'mai_city':mai_city, 'mai_state':mai_state, 
                      'mai_countyfips':mai_countyfips, 'mai_countyname':mai_countyname, 'mai_latitude':mai_latitude, 'mai_longitude':mai_longitude, 
                      'mai_zip_code': mai_zip_code, 'mai_result_codes':mai_result_codes}, ignore_index = True)

In [87]:
df3 = df1.merge(df2, on = 'census_num', how = 'left')

In [90]:
df3 = df3.replace('', value = np.nan)

df3['mai_address1'].fillna(df3['phy_address1'], inplace = True)
df3['mai_address2'].fillna(df3['phy_address2'], inplace = True)
df3['mai_city'].fillna(df3['phy_city'], inplace = True)
df3['mai_state'].fillna(df3['phy_state'], inplace = True)
df3['mai_countyfips'].fillna(df3['phy_countyfips'], inplace = True)
df3['mai_countyname'].fillna(df3['phy_countyname'], inplace = True)
df3['mai_latitude'].fillna(df3['phy_latitude'], inplace = True)
df3['mai_longitude'].fillna(df3['phy_longitude'], inplace = True)
df3['mai_zip_code'].fillna(df3['phy_zip_code'], inplace = True)
df3['mai_result_codes'].fillna(df3['phy_result_codes'], inplace = True)

In [91]:
df3.head()

,census_num,company_name,phy_address1,phy_address2,phy_city,phy_state,phy_countyfips,phy_countyname,phy_latitude,phy_longitude,...,mai_address1,mai_address2,mai_city,mai_state,mai_countyfips,mai_countyname,mai_latitude,mai_longitude,mai_zip_code,mai_result_codes
0,2865329,Fairway Auto Clinic,902 1/2 N Main St,NaN,Carlsbad,NM,35015,Eddy,32.429840,-104.225700,...,902 1/2 N Main St,NaN,Carlsbad,NM,35015,Eddy,32.429840,-104.225700,88220-6357,"AS01,DA20,FS01,FS04,FS05,GS05"
1,3356419,Bulldog Movers LLC,13159 Route 39,NaN,Chaffee,NY,36029,Erie,42.562600,-78.500500,...,13159 Route 39,NaN,Chaffee,NY,36029,Erie,42.562600,-78.500500,14030-9762,"AS01,FE01,GS03"
2,2025149,Carlos Garcia Realty Comm,5731 Gulf Fwy,NaN,Houston,TX,48201,Harris,29.717419,-95.318055,...,5731 Gulf Fwy,NaN,Houston,TX,48201,Harris,29.717419,-95.318055,77023-5261,"AS01,DA20,DA40,DA50,FS01,FS02,GS05"
3,1990702,B & E Roustabout Inc,103 Aztec St,NaN,Big Spring,TX,48227,Howard,32.291762,-101.323470,...,PO Box 3582,NaN,Big Spring,TX,48227,Howard,32.250355,-101.475176,79721-3582,"AS01,AS20,FS01,FS02,FS04,GS05"
4,3205239,Blue Line Hauling LLC,1440 Marble Way,NaN,Lawrenceville,GA,13135,Gwinnett,34.045113,-83.979841,...,1440 Marble Way,NaN,Lawrenceville,GA,13135,Gwinnett,34.045113,-83.979841,30043-2134,"AS01,FE01,GS05"

In [92]:
engine = create_engine("postgresql://{user}:{pw}@localhost:5433/{db}"
                      .format(user = 'postgres',
                             pw = 'Evergreen1',
                             db = 'postgres'))

df3.to_sql('mcmiscandidate_business_coder', con = engine, if_exists='append', schema='fleetseek', index=False, chunksize = 1000, method = 'multi')

In [98]:
#Candidate output

# 12/31/2019 update: Melissa data will parse through the first and last name. Also, data will be output to SharePoint rather than S3 browser. 
# This will be output after running the information through Melissa data
# Will need a place to store the melissa data information


# 1/8/2020 update: Primary parser for addresses has been built
# 1/9/2020 update: Primary parser for names has been bulit. Still need to determine if we want to send information to Melissa data first or after the output

# 1/15/2020 update: Information will go to Melissa data first
# Still need to get the company_type_codes and trailer type


# dd/mm/YY H:M:S
dt_string = datetime.now().strftime("%Y_%m_%d %H_%M_%S")


query = """
select 

    '' as contact_rep1_status, 
    '' as contact_rep2_status, 
    sub_q.sic as fs_sic_code,
    sub_q.product_code as fs_product_code,
    '' as company_type_code,
    sub_q.chngdate as mcmis_chngdate,
    sub_q.mcs150_date as mcmis_mcs150_date,
    sub_q.reject_reason as review_reason,
    sub_q.class as mcmis_class,
    sub_q.classdef as mcmis_classdef,
    sub_q.census_num as mcmis_census_num,
    initcap(sub_q.name) as mcmis_company_name,
    initcap(sub_q.name_dba) as mcmis_company_name_dba,


    -- Company rep 1 section

    sub_q.company_rep1a,
    initcap(split_part(sub_q.company_rep1a, ' ', 1)) as mcmis_company_rep1_first_name,
    case
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a ilike '%III%' or sub_q.company_rep1a ilike '%III')) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then initcap(concat(split_part(sub_q.company_rep1a, ' ', 2), ' ',  split_part(sub_q.company_rep1a, ' ', 3)))
        when (sub_q.count_of_spaces = 3) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%III%') then null
        when (sub_q.count_of_spaces = 2 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
    end as mcmis_company_rep1a_middle_name,

    case 
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a ilike '%III%' or sub_q.company_rep1a ilike '%III')) then initcap(split_part(sub_q.company_rep1a, ' ', 3))
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep1a, ' ', 4))
        when (sub_q.count_of_spaces = 1) then initcap(split_part(sub_q.company_rep1a, ' ', 2)) 
        when (sub_q.count_of_spaces = 2 and company_rep1a ilike '%III%') then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 2 and (sub_q.company_rep1a ilike '%jr%' or sub_q.company_rep1a ilike '%sr%')) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 2 and (sub_q.company_rep1a not ilike '%jr%' or sub_q.company_rep1a not ilike '%sr%')) then initcap(split_part(sub_q.company_rep1a, ' ', 3))
        when (sub_q.count_of_spaces = 3) then initcap(split_part(sub_q.company_rep1a, ' ', 3))
    end as mcmis_company_rep1a_last_name,

    case
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a ilike '%III%' or sub_q.company_rep1a ilike '%III')) then split_part(sub_q.company_rep1a, ' ', 4)
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then null
        when (sub_q.count_of_spaces = 3) then split_part(sub_q.company_rep1a, ' ', 4)
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%jr%') then split_part(sub_q.company_rep1a, ' ', 3)
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%sr%') then split_part(sub_q.company_rep1a, ' ', 3)
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%III%') then split_part(sub_q.company_rep1a, ' ', 3)
    end as mcmis_company_rep1_suffix,
    '' as fs_original_job_title1,

    -- Company rep 2 section 
    sub_q.company_rep2 as mcmis_company_rep2,
    initcap(split_part(sub_q.company_rep2a, ' ', 1)) as mcmis_company_rep2_first_name,

    case
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a ilike '%III%' or sub_q.company_rep2a ilike '%III')) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then initcap(concat(split_part(sub_q.company_rep2a, ' ', 2), ' ',  split_part(sub_q.company_rep2a, ' ', 3)))
        when (sub_q.count_of_spaces2 = 3) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%III%') then null
        when (sub_q.count_of_spaces2 = 2 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
    end as mcmis_company_rep2_middle_name,

    case 
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a ilike '%III%' or sub_q.company_rep2a ilike '%III')) then initcap(split_part(sub_q.company_rep2a, ' ', 3))
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep2a, ' ', 4))
        when (sub_q.count_of_spaces2 = 1) then initcap(split_part(sub_q.company_rep2a, ' ', 2)) 
        when (sub_q.count_of_spaces2 = 2 and company_rep2a ilike '%III%') then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 2 and (sub_q.company_rep2a ilike '%jr%' or sub_q.company_rep2a ilike '%sr%')) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 2 and (sub_q.company_rep2a not ilike '%jr%' or sub_q.company_rep2a not ilike '%sr%')) then initcap(split_part(sub_q.company_rep2a, ' ', 3))
        when (sub_q.count_of_spaces2 = 3) then initcap(split_part(sub_q.company_rep2a, ' ', 3))
    end as mcmis_company_rep2_last_name,

    case
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a ilike '%III%' or sub_q.company_rep2a ilike '%III')) then split_part(sub_q.company_rep2a, ' ', 4)
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then null
        when (sub_q.count_of_spaces2 = 3) then split_part(sub_q.company_rep2a, ' ', 4)
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%jr%') then split_part(sub_q.company_rep2a, ' ', 3)
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%sr%') then split_part(sub_q.company_rep2a, ' ', 3)
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%III%') then split_part(sub_q.company_rep2a, ' ', 3)
    end as mcmis_company_rep2_suffix,
    '' as fs_original_job_title2,

    -- Physical address section
    sub_q.phy_str as mcmis_phy_str,
    regexp_replace(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    regexp_replace(
                        regexp_replace(
                            regexp_replace(
                                regexp_replace(
                                    regexp_replace(
                                        regexp_replace(
                                            regexp_replace(
                                                regexp_replace(
                                                    regexp_replace(
                                                        regexp_replace(
                                                            regexp_replace(
                                                                regexp_replace(
                                                                    regexp_replace(
                                                                        regexp_replace(
                                                                            regexp_replace(
                                                                                initcap(sub_q.phy_str), 'Avenue', 'Ave'), 
                                                                            ' Suite ', ' Ste '), 
                                                                        E'#.*', ''), 
                                                                    E' Ste.*', ''), 
                                                                E' Apt.*', ''), 
                                                            'Street', 'St'), 
                                                        'Road', 'Rd'), 
                                                    'Drive', 'Dr'), 
                                                'Lane', 'Ln'),
                                            'Circle', 'Cir'),
                                        E'Unit.*', ''),
                                    ' Se ', ' SE '),
                                ' Sw ', ' SW '),
                            ' Nw ', ' NW '),
                        ' Ne ', ' NE '),
                    ' Ne$', ' NE '),
                ' Se$', ' SE '),
            ' Nw$', ' NW '),
        ' Sw$', ' SW ') as mcmis_phy_address1,
    mbc.phy_address1 as business_coder_phy_address1,

    case 
        when (sub_q.phy_str ilike '% ste %' or phy_str ilike '%suite%' or phy_str ~ 'ste\s\d+ ' or phy_str ~ 'ste\#\d*' or phy_str ~ 'ste\s\w*' or phy_str ~ ' ste\d*')then concat('Ste ', regexp_replace(phy_str, '^.* ', '')) 
        end as mcmis_phy_address2,
    mbc.phy_address2 as business_coder_phy_address2,

    case 
        when (sub_q.phy_str ilike '% apt %') then concat('Apt ', regexp_replace(sub_q.phy_str, '^.* ', ''))
        when (sub_q.phy_str ilike '% unit %' or sub_q.phy_str ~ ' unit\d*') then concat('Unit ', regexp_replace(sub_q.phy_str, '^.* ', ''))
        when (sub_q.phy_str ilike '%#%') then concat('#',split_part(sub_q.phy_str, '#', 2)) 
        end as mcmis_phy_address3,

    initcap(sub_q.phy_city) as mcmis_phy_city,
    mbc.phy_city as business_coder_phy_city,
    sub_q.phy_st as mcmis_phy_state_code,
    mbc.phy_state as business_coder_phy_state,
    sub_q.phy_zip as mcmis_phy_zip_code,
    mbc.phy_zip_code as business_coder_phy_zip,
    sub_q.phy_natn as mcmis_phy_natn,
    mbc.phy_countyname as business_coder_phy_countyname,
    mbc.phy_countyfips as business_coder_phy_countyfips,
    sub_q.undeliv_phy as mcmis_undeliv_phy,
    mbc.phy_latitude as business_coder_phy_latitude,
    mbc.phy_longitude as business_coder_phy_longitude,

    -- Mailing address section
    sub_q.mai_str as mcmis_mai_str,
    regexp_replace(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    regexp_replace(
                        regexp_replace(
                            regexp_replace(
                                regexp_replace(
                                    regexp_replace(
                                        regexp_replace(
                                            regexp_replace(
                                                regexp_replace(
                                                    regexp_replace(
                                                        regexp_replace(
                                                            regexp_replace(
                                                                regexp_replace(
                                                                    regexp_replace(
                                                                        regexp_replace(
                                                                            regexp_replace(
                                                                                initcap(sub_q.mai_str), 'Avenue', 'Ave'), 
                                                                            ' Suite ', ' Ste '), 
                                                                        E'#.*', ''), 
                                                                    E' Ste.*', ''), 
                                                                E' Apt.*', ''), 
                                                            'Street', 'St'), 
                                                        'Road', 'Rd'), 
                                                    'Drive', 'Dr'), 
                                                'Lane', 'Ln'),
                                            'Circle', 'Cir'),
                                        E'Unit.*', ''),
                                    ' Se ', ' SE '),
                                ' Sw ', ' SW '),
                            ' Nw ', ' NW '),
                        ' Ne ', ' NE '),
                    ' Ne$', ' NE '),
                ' Se$', ' SE '),
            ' Nw$', ' NW '),
        ' Sw$', ' SW ') as mcmis_mai_address1,
    mbc.mai_address1 as business_coder_mai_address1,

    case 
        when (sub_q.mai_str ilike '% ste %' or sub_q.mai_str ilike '%suite%' or sub_q.mai_str ~ 'ste\s\d+ ' or sub_q.mai_str ~ 'ste\#\d*' or sub_q.mai_str ~ 'ste\s\w*' or sub_q.mai_str ~ ' ste\d*')then concat('Ste ', regexp_replace(sub_q.mai_str, '^.* ', '')) 
        end as mcmis_mai_address2,
    mbc.mai_address2 as business_coder_mai_address2,

    case 
        when (sub_q.mai_str ilike '% apt %') then concat('Apt ', regexp_replace(sub_q.mai_str, '^.* ', ''))
        when (sub_q.mai_str ilike '% unit %' or sub_q.mai_str ~ ' unit\d*') then concat('Unit ', regexp_replace(sub_q.mai_str, '^.* ', ''))
        when (sub_q.mai_str ilike '%#%') then concat('#',split_part(sub_q.mai_str, '#', 2)) 
        end as mcmis_mai_address3,

    initcap(sub_q.mai_city) as mcmis_mai_city,
    mbc.mai_city as business_coder_mai_city,
    sub_q.mai_st as mcmis_mai_state_code,
    mbc.mai_state as business_coder_state,
    sub_q.mai_zip as mcmis_mai_zip,
    mbc.mai_zip_code as business_coder_mai_zip,
    sub_q.mai_natn as mcmis_mai_natn,
    mbc.mai_countyname as business_coder_mai_countyname,
    mbc.mai_countyfips as business_coder_mai_countyfips,
    sub_q.undeliv_mai as mcmis_undeliv_mai,
    mbc.mai_latitude as business_coder_mai_latitude,
    mbc.mai_longitude as business_coder_mai_longitude,


    sub_q.tel_num as mcmis_phone,
    sub_q.fax_num as mcmis_fax,
    '' as fs_website,
    sub_q.email_address as mcmis_email_address,
    sub_q.icc1 as mcmis_icc1,
    sub_q.owntruck as mcmis_owntruck,
    sub_q.trmtruck as mcmis_trmtruck,
    sub_q.trptruck as mcmis_trptruck,
    '' as fs_haz_trucks_owned,
    '' as fs_haz_trucks_leased,
    sub_q.owntract as mcmis_owntract,
    sub_q.trmtract as mcmis_trmtract,
    sub_q.trptract as mcmis_trptract,
    sub_q.owntrail as mcmis_owntrail,
    sub_q.trmtrail as mcmis_trmtrail,
    sub_q.trptrail as mcmis_trptrail,
    '' as fs_haz_trailers_owned,
    '' as fs_haz_trailers_leased,
    sub_q.tot_trucks as mcmis_tot_trucks,
    sub_q.tot_buses as mcmis_tot_buses,
    sub_q.tot_pwr as mcmis_tot_pwr,
    '' as fs_gvw_class_8,
    '' as fs_gvw_class_7,
    '' as fs_gvw_class_6,
    '' as fs_gvw_class_345,
    '' as fs_gvw_class_12,
    sub_q.genfreight as mcmis_genfreight,
    sub_q.household as mcmis_household,
    sub_q.usmail as mcmis_usmail,
    sub_q.intermodal as mcmis_intermodal,
    sub_q.paperprod as mcmis_paperprod,
    sub_q.beverages as mcmis_beverages,
    sub_q.coldfood as mcmis_coldfood,
    sub_q.produce as mcmis_produce,
    sub_q.meat as mcmis_meat,
    sub_q.livestock as mcmis_livestock,
    sub_q.grainfeed as mcmis_grainfeed,
    sub_q.farmsupp as mcmis_farmsupp,
    sub_q.drybulk as mcmis_drybulk,
    sub_q.bldgmat as mcmis_bldgmat,
    sub_q.metalsheet as mcmis_metalsheet,
    sub_q.logpole as mcmis_logpole,
    sub_q.construct as mcmis_construct,
    sub_q.machlrg as mcmis_machlrg,
    sub_q.oilfield as mcmis_oilfield,
    sub_q.waterwell as mcmis_waterwell,
    sub_q.liqgas as mcmis_liqgas,
    sub_q.chem as mcmis_chem,
    sub_q.coalcoke as mcmis_coalcoke,
    sub_q.garbage as mcmis_garbage,
    sub_q.drivetow as mcmis_drivetow,
    sub_q.motorveh as mcmis_motorveh,
    sub_q.mobilehome as mcmis_mobilehome,
    sub_q.utility as mcmis_utility,
    sub_q.cargoothr as mcmis_cargoothr,
    sub_q.othercargo as mcmis_othercargo,
    sub_q.hm_ind as mcmis_hm_ind,
    sub_q.passengers as mcmis_passengers,
    sub_q.carship as mcmis_carship,
    sub_q.crrinter as mcmis_crrinter,
    sub_q.crrhmintra as mcmis_crrhmintra,
    sub_q.crrintra as mcmis_crrintra,
    sub_q.shpinter as mcmis_shpinter,
    sub_q.shpintra as mcmis_shpintra,
    '' as Trailer_type,
    sub_q.mlg150 as mcmis_mlg_150,
    '' as mcmis_avg_mile,
    sub_q.tot_drs as mcmis_tot_drs,
    sub_q.cdl_drs as mcmis_cdl_drs,
    sub_q.mcs150mileageyear as mcmis_mcs150mileageyear,
    sub_q.insertion_flag

FROM (
        SELECT

            a.company_rep1_remove_space as company_rep1a,
            a.company_rep2_remove_space as company_rep2a,
            length(a.company_rep1_remove_space) - length(replace(a.company_rep1_remove_space,' ', '')) AS count_of_spaces,
            length(a.company_rep2_remove_space) - length(replace(a.company_rep2_remove_space, ' ', '')) as count_of_spaces2,
            a.*,
            final.*
        FROM (
                select 
                    m.*,
                    replace(m.company_rep1, '  ', ' ') as company_rep1_remove_space,
                    replace(m.company_rep2, '  ', ' ') as company_rep2_remove_space
                from my_public.mcmiscandidate as m

        ) as a

        left join
        (
        select 
            string_to_array(sub_h.trailer_types, ', ')::int[] as trailer_types, 
            census_num as b_census_num, 
            sic
        from (
            select 
                "SIC" as sic, 
                census_num, 
                string_agg(trailer_type_id::varchar, ', ') as trailer_types
            from (
                select 
                    tt.*, 
                    sub_f.census_num, 
                    sub_f.trailer_types, 
                    sub_f."SIC"
                from (
                    select 
                        string_to_array(sub_e.trailer_types, ' ') as trailer_types, 
                        sub_e.census_num, 
                        sub_e."SIC"
                    from (
                        select 
                            string_agg(initcap(sub_d.trailer_type), ' ') as trailer_types, 
                            case 
                                when (product_code = 'OOD' and total_trailers = 1) then 4218 else sub_d."SIC" end as "SIC",
                            sub_d.census_num
                        from (
                            select 
                                case 
                                    when (sub_c.total_tractors = 0 and total_trailers > 0) then 'Utility'
                                    when (sub_c.total_trailers = 1) then coalesce("Trailer Type if 1 Trailer")
                                    when (sub_c.total_trailers = 2) then concat(coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                    when (sub_c.total_trailers = 3) then concat(coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                    when (sub_c.total_trailers = 4) then concat(coalesce("Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                    when (sub_c.total_trailers = 5) then concat(coalesce("Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))    
                                    when (sub_c.total_trailers = 6) then concat(coalesce("Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                    when (sub_c.total_trailers = 7) then concat(coalesce("Trailer type if 7 or more trailers", "Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                    when (sub_c.total_trailers > 7) then concat("Trailer type if 7 or more trailers", ' ', "Trailer type if 6 or more trailers", ' ', "Trailer Type if 5 or More trailers", ' ', "Trailer Type if 4 or more trailers", ' ', "Trailer Type if 3 Trailers", ' ', "Trailer Type if 2 Trailers", ' ', "Trailer Type if 1 Trailer")
                                end as trailer_type,
                                sub_c.*
                            from (
                                select 
                                    sub_b.total_trailers, 
                                    sub_b.census_num, 
                                    sub_b.product_code, 
                                    sub_b.total_tractors, 
                                    sub_b.sub_b_commod_key, 
                                    tk.*
                                from (
                                    select 
                                        concat( genfreight,  household,  usmail,  intermodal,  paperprod,  beverages,  coldfood,  produce,  meat, 
                                             livestock,  grainfeed,  farmsupp,  drybulk,  bldgmat,  metalsheet,  logpole,  construct,  machlrg,  oilfield,
                                             waterwell,  liqgas,  chem,  coalcoke,  garbage,  drivetow,  motorveh,  mobilehome,  utility,  cargoothr) as sub_b_commod_key,
                                        *

                                    from (
                                        select
                                            census_num,
                                            m.product_code,

                                            case 
                                                when(genfreight is not null) then 'genfreight' else null
                                            end as genfreight,
                                            case
                                                when(household is not null) then 'household' else null
                                            end as household,
                                            case
                                                when(metalsheet is not null) then 'metalsheet' else null
                                            end as metalsheet,
                                            case
                                                when(motorveh is not null) then 'motorveh' else null
                                            end as motorveh,
                                            case
                                                when(drivetow is not null) then 'drivetow' else null
                                            end as drivetow,
                                            case
                                                when(logpole is not null) then 'logpole' else null
                                            end as logpole,
                                            case
                                                when(bldgmat is not null) then 'bldgmat' else null
                                            end as bldgmat,
                                            case
                                                when(mobilehome is not null) then 'mobilehome' else null
                                            end as mobilehome,
                                            case
                                                when(machlrg is not null) then 'machlrg' else null
                                            end as machlrg,
                                            case
                                                when(produce is not null) then 'produce' else null
                                            end as produce,
                                            case
                                                when(liqgas is not null) then 'liqgas' else null
                                            end as liqgas,
                                            case
                                                when(intermodal is not null) then 'intermodal' else null
                                            end as intermodal,
                                            case
                                                when(passengers is not null) then 'passengers' else null
                                            end as passengers,
                                            case
                                                when(oilfield is not null) then 'oilfield' else null
                                            end as oilfield,
                                            case
                                                when(livestock is not null) then 'livestock' else null
                                            end as livestock,
                                            case
                                                when(grainfeed is not null) then 'grainfeed' else null
                                            end as grainfeed,
                                            case
                                                when(coalcoke is not null) then 'coalcoke' else null
                                            end as coalcoke,
                                            case
                                                when(meat is not null) then 'meat' else null
                                            end as meat,
                                            case
                                                when(garbage is not null) then 'garbage' else null
                                            end as garbage,
                                            case
                                                when(usmail is not null) then 'usmail' else null
                                            end as usmail,
                                            case
                                                when(chem is not null) then 'chem' else null
                                            end as chem,
                                            case
                                                when(drybulk is not null) then 'drybulk' else null
                                            end as drybulk,
                                            case
                                                when(coldfood is not null) then 'coldfood' else null
                                            end as coldfood,
                                            case
                                                when(beverages is not null) then 'beverages' else null
                                            end as beverages,
                                            case
                                                when(paperprod is not null) then 'paperprod' else null
                                            end as paperprod,
                                            case
                                                when(utility is not null) then 'utility' else null
                                            end as utility,
                                            case
                                                when(farmsupp is not null) then 'farmsupp' else null
                                            end as farmsupp,
                                            case
                                                when(construct is not null) then 'construct' else null
                                            end as construct,
                                            case
                                                when(waterwell is not null) then 'waterwell' else null
                                            end as waterwell,
                                            case
                                                when(cargoothr is not null) then 'cargoothr' else null
                                            end as cargoothr,
                                            sum(owntrail + trmtrail + trptrail) as total_trailers,
                                            sum(owntract + trmtract + trptract) as total_tractors
                                        from my_public.mcmiscandidate as m

                                        where 
                                            product_code is not null and 
                                            product_code in ('OOD', 'NMC')
                                        group by 

                                            genfreight, household, metalsheet, motorveh, drivetow, logpole, bldgmat, 
                                            mobilehome, machlrg, produce, liqgas, intermodal, passengers, oilfield, 
                                            livestock, grainfeed, coalcoke, meat, garbage, usmail, chem,
                                            drybulk, coldfood, beverages, paperprod, utility, farmsupp, construct,
                                            waterwell, othercargo, census_num, cargoothr, product_code
                                    ) as sub_a
                                ) as sub_b
                                left join 
                                "Trailer_key" as tk
                                on btrim(tk.commod_key) = btrim(sub_b.sub_b_commod_key)
                            ) as sub_c 
                        ) as sub_d
                        group by census_num, trailer_type, "SIC", product_code, total_trailers
                    ) as sub_e
                ) as sub_f
                join fleetseek.trailer_type as tt
                on tt.name = any(sub_f.trailer_types)
                order by census_num, trailer_type_id
            ) as sub_g
            group by "SIC", sub_g.census_num

        ) as sub_h

        ) as final
        on a.census_num = final.b_census_num


) as sub_q
join fleetseek.mcmiscandidate_business_coder as mbc
on sub_q.census_num = mbc.census_num
where sub_q.product_code is not null
"""

outputquery = "COPY ({0}) TO STDOUT WITH CSV HEADER".format(query)


with open(r'\\informaplc.sharepoint.com@SSL\DavWWWRoot\sites\GAATLFS1\Shared Documents\FleetSeek Atlanta\MCMIS_candidates\MCMIS_output\candidates' + dt_string + '.csv', 'w') as f:
    cur.copy_expert(outputquery, f)
conn.close()

In [ ]:
end_time = time.time() - start_time

In [42]:
print(end_time)

913.9257788658142

## 2/19/2020 rewrite (adds trailer_id and type)

In [98]:
#Candidate output

# 12/31/2019 update: Melissa data will parse through the first and last name. Also, data will be output to SharePoint rather than S3 browser. 
# This will be output after running the information through Melissa data
# Will need a place to store the melissa data information


# 1/8/2020 update: Primary parser for addresses has been built
# 1/9/2020 update: Primary parser for names has been bulit. Still need to determine if we want to send information to Melissa data first or after the output

# 1/15/2020 update: Information will go to Melissa data first
# Still need to get the company_type_codes and trailer type


# dd/mm/YY H:M:S
dt_string = datetime.now().strftime("%Y_%m_%d %H_%M_%S")


query = """
select 

    '' as contact_rep1_status, 
    '' as contact_rep2_status, 
    case 
        when (sub_q.product_code = 'OOD') then 4218 
        when (sub_q.product_code = 'NMC') then final.sic
    end as fs_sic_code,
    sub_q.product_code as fs_product_code,
    case
        when (sub_q.product_code = 'OOD') then '18' 
        when (substring(final.sic::varchar, 3, 1) = '0') then right(final.sic::varchar, 1)
        when (substring(final.sic::varchar, 3, 1) <> '0') then right(final.sic::varchar, 2)
    end as company_type_code,
    sub_q.chngdate as mcmis_chngdate,
    sub_q.mcs150_date as mcmis_mcs150_date,
    sub_q.reject_reason as review_reason,
    sub_q.class as mcmis_class,
    sub_q.classdef as mcmis_classdef,
    sub_q.census_num as mcmis_census_num,
    initcap(sub_q.name) as mcmis_company_name,
    initcap(sub_q.name_dba) as mcmis_company_name_dba,


    -- Company rep 1 section

    sub_q.company_rep1a,
    initcap(split_part(sub_q.company_rep1a, ' ', 1)) as mcmis_company_rep1_first_name,
    case
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a ilike '%III%' or sub_q.company_rep1a ilike '%III')) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then initcap(concat(split_part(sub_q.company_rep1a, ' ', 2), ' ',  split_part(sub_q.company_rep1a, ' ', 3)))
        when (sub_q.count_of_spaces = 3) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%III%') then null
        when (sub_q.count_of_spaces = 2 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
    end as mcmis_company_rep1a_middle_name,

    case 
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a ilike '%III%' or sub_q.company_rep1a ilike '%III')) then initcap(split_part(sub_q.company_rep1a, ' ', 3))
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep1a, ' ', 4))
        when (sub_q.count_of_spaces = 1) then initcap(split_part(sub_q.company_rep1a, ' ', 2)) 
        when (sub_q.count_of_spaces = 2 and company_rep1a ilike '%III%') then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 2 and (sub_q.company_rep1a ilike '%jr%' or sub_q.company_rep1a ilike '%sr%')) then initcap(split_part(sub_q.company_rep1a, ' ', 2))
        when (sub_q.count_of_spaces = 2 and (sub_q.company_rep1a not ilike '%jr%' or sub_q.company_rep1a not ilike '%sr%')) then initcap(split_part(sub_q.company_rep1a, ' ', 3))
        when (sub_q.count_of_spaces = 3) then initcap(split_part(sub_q.company_rep1a, ' ', 3))
    end as mcmis_company_rep1a_last_name,

    case
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a ilike '%III%' or sub_q.company_rep1a ilike '%III')) then split_part(sub_q.company_rep1a, ' ', 4)
        when (sub_q.count_of_spaces = 3 and (sub_q.company_rep1a not ilike '%jr' and sub_q.company_rep1a not ilike '%jr.') and (sub_q.company_rep1a not ilike '%sr' and sub_q.company_rep1a not ilike '%sr.')) then null
        when (sub_q.count_of_spaces = 3) then split_part(sub_q.company_rep1a, ' ', 4)
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%jr%') then split_part(sub_q.company_rep1a, ' ', 3)
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%sr%') then split_part(sub_q.company_rep1a, ' ', 3)
        when (sub_q.count_of_spaces = 2 and sub_q.company_rep1a ilike '%III%') then split_part(sub_q.company_rep1a, ' ', 3)
    end as mcmis_company_rep1_suffix,
    '' as fs_original_job_title1,

    -- Company rep 2 section 
    sub_q.company_rep2 as mcmis_company_rep2,
    initcap(split_part(sub_q.company_rep2a, ' ', 1)) as mcmis_company_rep2_first_name,

    case
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a ilike '%III%' or sub_q.company_rep2a ilike '%III')) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then initcap(concat(split_part(sub_q.company_rep2a, ' ', 2), ' ',  split_part(sub_q.company_rep2a, ' ', 3)))
        when (sub_q.count_of_spaces2 = 3) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%III%') then null
        when (sub_q.count_of_spaces2 = 2 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
    end as mcmis_company_rep2_middle_name,

    case 
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a ilike '%III%' or sub_q.company_rep2a ilike '%III')) then initcap(split_part(sub_q.company_rep2a, ' ', 3))
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then initcap(split_part(sub_q.company_rep2a, ' ', 4))
        when (sub_q.count_of_spaces2 = 1) then initcap(split_part(sub_q.company_rep2a, ' ', 2)) 
        when (sub_q.count_of_spaces2 = 2 and company_rep2a ilike '%III%') then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 2 and (sub_q.company_rep2a ilike '%jr%' or sub_q.company_rep2a ilike '%sr%')) then initcap(split_part(sub_q.company_rep2a, ' ', 2))
        when (sub_q.count_of_spaces2 = 2 and (sub_q.company_rep2a not ilike '%jr%' or sub_q.company_rep2a not ilike '%sr%')) then initcap(split_part(sub_q.company_rep2a, ' ', 3))
        when (sub_q.count_of_spaces2 = 3) then initcap(split_part(sub_q.company_rep2a, ' ', 3))
    end as mcmis_company_rep2_last_name,

    case
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a ilike '%III%' or sub_q.company_rep2a ilike '%III')) then split_part(sub_q.company_rep2a, ' ', 4)
        when (sub_q.count_of_spaces2 = 3 and (sub_q.company_rep2a not ilike '%jr' and sub_q.company_rep2a not ilike '%jr.') and (sub_q.company_rep2a not ilike '%sr' and sub_q.company_rep2a not ilike '%sr.')) then null
        when (sub_q.count_of_spaces2 = 3) then split_part(sub_q.company_rep2a, ' ', 4)
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%jr%') then split_part(sub_q.company_rep2a, ' ', 3)
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%sr%') then split_part(sub_q.company_rep2a, ' ', 3)
        when (sub_q.count_of_spaces2 = 2 and sub_q.company_rep2a ilike '%III%') then split_part(sub_q.company_rep2a, ' ', 3)
    end as mcmis_company_rep2_suffix,
    '' as fs_original_job_title2,

    -- Physical address section
    sub_q.phy_str as mcmis_phy_str,
    regexp_replace(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    regexp_replace(
                        regexp_replace(
                            regexp_replace(
                                regexp_replace(
                                    regexp_replace(
                                        regexp_replace(
                                            regexp_replace(
                                                regexp_replace(
                                                    regexp_replace(
                                                        regexp_replace(
                                                            regexp_replace(
                                                                regexp_replace(
                                                                    regexp_replace(
                                                                        regexp_replace(
                                                                            regexp_replace(
                                                                                initcap(sub_q.phy_str), 'Avenue', 'Ave'), 
                                                                            ' Suite ', ' Ste '), 
                                                                        E'#.*', ''), 
                                                                    E' Ste.*', ''), 
                                                                E' Apt.*', ''), 
                                                            'Street', 'St'), 
                                                        'Road', 'Rd'), 
                                                    'Drive', 'Dr'), 
                                                'Lane', 'Ln'),
                                            'Circle', 'Cir'),
                                        E'Unit.*', ''),
                                    ' Se ', ' SE '),
                                ' Sw ', ' SW '),
                            ' Nw ', ' NW '),
                        ' Ne ', ' NE '),
                    ' Ne$', ' NE '),
                ' Se$', ' SE '),
            ' Nw$', ' NW '),
        ' Sw$', ' SW ') as mcmis_phy_address1,
    mbc.phy_address1 as business_coder_phy_address1,

    case 
        when (sub_q.phy_str ilike '% ste %' or phy_str ilike '%suite%' or phy_str ~ 'ste\s\d+ ' or phy_str ~ 'ste\#\d*' or phy_str ~ 'ste\s\w*' or phy_str ~ ' ste\d*')then concat('Ste ', regexp_replace(phy_str, '^.* ', '')) 
        end as mcmis_phy_address2,
    mbc.phy_address2 as business_coder_phy_address2,

    case 
        when (sub_q.phy_str ilike '% apt %') then concat('Apt ', regexp_replace(sub_q.phy_str, '^.* ', ''))
        when (sub_q.phy_str ilike '% unit %' or sub_q.phy_str ~ ' unit\d*') then concat('Unit ', regexp_replace(sub_q.phy_str, '^.* ', ''))
        when (sub_q.phy_str ilike '%#%') then concat('#',split_part(sub_q.phy_str, '#', 2)) 
        end as mcmis_phy_address3,

    initcap(sub_q.phy_city) as mcmis_phy_city,
    mbc.phy_city as business_coder_phy_city,
    sub_q.phy_st as mcmis_phy_state_code,
    mbc.phy_state as business_coder_phy_state,
    sub_q.phy_zip as mcmis_phy_zip_code,
    mbc.phy_zip_code as business_coder_phy_zip,
    sub_q.phy_natn as mcmis_phy_natn,
    mbc.phy_countyname as business_coder_phy_countyname,
    mbc.phy_countyfips as business_coder_phy_countyfips,
    sub_q.undeliv_phy as mcmis_undeliv_phy,
    mbc.phy_latitude as business_coder_phy_latitude,
    mbc.phy_longitude as business_coder_phy_longitude,

    -- Mailing address section
    sub_q.mai_str as mcmis_mai_str,
    regexp_replace(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    regexp_replace(
                        regexp_replace(
                            regexp_replace(
                                regexp_replace(
                                    regexp_replace(
                                        regexp_replace(
                                            regexp_replace(
                                                regexp_replace(
                                                    regexp_replace(
                                                        regexp_replace(
                                                            regexp_replace(
                                                                regexp_replace(
                                                                    regexp_replace(
                                                                        regexp_replace(
                                                                            regexp_replace(
                                                                                initcap(sub_q.mai_str), 'Avenue', 'Ave'), 
                                                                            ' Suite ', ' Ste '), 
                                                                        E'#.*', ''), 
                                                                    E' Ste.*', ''), 
                                                                E' Apt.*', ''), 
                                                            'Street', 'St'), 
                                                        'Road', 'Rd'), 
                                                    'Drive', 'Dr'), 
                                                'Lane', 'Ln'),
                                            'Circle', 'Cir'),
                                        E'Unit.*', ''),
                                    ' Se ', ' SE '),
                                ' Sw ', ' SW '),
                            ' Nw ', ' NW '),
                        ' Ne ', ' NE '),
                    ' Ne$', ' NE '),
                ' Se$', ' SE '),
            ' Nw$', ' NW '),
        ' Sw$', ' SW ') as mcmis_mai_address1,
    mbc.mai_address1 as business_coder_mai_address1,

    case 
        when (sub_q.mai_str ilike '% ste %' or sub_q.mai_str ilike '%suite%' or sub_q.mai_str ~ 'ste\s\d+ ' or sub_q.mai_str ~ 'ste\#\d*' or sub_q.mai_str ~ 'ste\s\w*' or sub_q.mai_str ~ ' ste\d*')then concat('Ste ', regexp_replace(sub_q.mai_str, '^.* ', '')) 
        end as mcmis_mai_address2,
    mbc.mai_address2 as business_coder_mai_address2,

    case 
        when (sub_q.mai_str ilike '% apt %') then concat('Apt ', regexp_replace(sub_q.mai_str, '^.* ', ''))
        when (sub_q.mai_str ilike '% unit %' or sub_q.mai_str ~ ' unit\d*') then concat('Unit ', regexp_replace(sub_q.mai_str, '^.* ', ''))
        when (sub_q.mai_str ilike '%#%') then concat('#',split_part(sub_q.mai_str, '#', 2)) 
        end as mcmis_mai_address3,

    initcap(sub_q.mai_city) as mcmis_mai_city,
    mbc.mai_city as business_coder_mai_city,
    sub_q.mai_st as mcmis_mai_state_code,
    mbc.mai_state as business_coder_state,
    sub_q.mai_zip as mcmis_mai_zip,
    mbc.mai_zip_code as business_coder_mai_zip,
    sub_q.mai_natn as mcmis_mai_natn,
    mbc.mai_countyname as business_coder_mai_countyname,
    mbc.mai_countyfips as business_coder_mai_countyfips,
    sub_q.undeliv_mai as mcmis_undeliv_mai,
    mbc.mai_latitude as business_coder_mai_latitude,
    mbc.mai_longitude as business_coder_mai_longitude,


    sub_q.tel_num as mcmis_phone,
    sub_q.fax_num as mcmis_fax,
    '' as fs_website,
    sub_q.email_address as mcmis_email_address,
    sub_q.icc1 as mcmis_icc1,
    sub_q.owntruck as mcmis_owntruck,
    sub_q.trmtruck as mcmis_trmtruck,
    sub_q.trptruck as mcmis_trptruck,
    '' as fs_haz_trucks_owned,
    '' as fs_haz_trucks_leased,
    sub_q.owntract as mcmis_owntract,
    sub_q.trmtract as mcmis_trmtract,
    sub_q.trptract as mcmis_trptract,
    sub_q.owntrail as mcmis_owntrail,
    sub_q.trmtrail as mcmis_trmtrail,
    sub_q.trptrail as mcmis_trptrail,
    '' as fs_haz_trailers_owned,
    '' as fs_haz_trailers_leased,
    sub_q.tot_trucks as mcmis_tot_trucks,
    sub_q.tot_buses as mcmis_tot_buses,
    sub_q.tot_pwr as mcmis_tot_pwr,
    '' as fs_gvw_class_8,
    '' as fs_gvw_class_7,
    '' as fs_gvw_class_6,
    '' as fs_gvw_class_345,
    '' as fs_gvw_class_12,
    sub_q.genfreight as mcmis_genfreight,
    sub_q.household as mcmis_household,
    sub_q.usmail as mcmis_usmail,
    sub_q.intermodal as mcmis_intermodal,
    sub_q.paperprod as mcmis_paperprod,
    sub_q.beverages as mcmis_beverages,
    sub_q.coldfood as mcmis_coldfood,
    sub_q.produce as mcmis_produce,
    sub_q.meat as mcmis_meat,
    sub_q.livestock as mcmis_livestock,
    sub_q.grainfeed as mcmis_grainfeed,
    sub_q.farmsupp as mcmis_farmsupp,
    sub_q.drybulk as mcmis_drybulk,
    sub_q.bldgmat as mcmis_bldgmat,
    sub_q.metalsheet as mcmis_metalsheet,
    sub_q.logpole as mcmis_logpole,
    sub_q.construct as mcmis_construct,
    sub_q.machlrg as mcmis_machlrg,
    sub_q.oilfield as mcmis_oilfield,
    sub_q.waterwell as mcmis_waterwell,
    sub_q.liqgas as mcmis_liqgas,
    sub_q.chem as mcmis_chem,
    sub_q.coalcoke as mcmis_coalcoke,
    sub_q.garbage as mcmis_garbage,
    sub_q.drivetow as mcmis_drivetow,
    sub_q.motorveh as mcmis_motorveh,
    sub_q.mobilehome as mcmis_mobilehome,
    sub_q.utility as mcmis_utility,
    sub_q.cargoothr as mcmis_cargoothr,
    sub_q.othercargo as mcmis_othercargo,
    sub_q.hm_ind as mcmis_hm_ind,
    sub_q.passengers as mcmis_passengers,
    sub_q.carship as mcmis_carship,
    sub_q.crrinter as mcmis_crrinter,
    sub_q.crrhmintra as mcmis_crrhmintra,
    sub_q.crrintra as mcmis_crrintra,
    sub_q.shpinter as mcmis_shpinter,
    sub_q.shpintra as mcmis_shpintra,
    final.trailer_type_id as trailer_type_id,
    sub_q.mlg150 as mcmis_mlg_150,
    '' as mcmis_avg_mile,
    sub_q.tot_drs as mcmis_tot_drs,
    sub_q.cdl_drs as mcmis_cdl_drs,
    sub_q.mcs150mileageyear as mcmis_mcs150mileageyear,
    sub_q.insertion_flag

FROM (
        SELECT

            a.company_rep1_remove_space as company_rep1a,
            a.company_rep2_remove_space as company_rep2a,
            length(a.company_rep1_remove_space) - length(replace(a.company_rep1_remove_space,' ', '')) AS count_of_spaces,
            length(a.company_rep2_remove_space) - length(replace(a.company_rep2_remove_space, ' ', '')) as count_of_spaces2,
            a.*
        FROM (
                select 
                    m.*,
                    replace(m.company_rep1, '  ', ' ') as company_rep1_remove_space,
                    replace(m.company_rep2, '  ', ' ') as company_rep2_remove_space
                from my_public.mcmiscandidate as m

        ) as a

) as sub_q
join fleetseek.mcmiscandidate_business_coder as mbc
on sub_q.census_num = mbc.census_num
left join 
(    
    select 
        string_to_array(sub_h.trailer_types, ', ')::int[] as trailer_type_id, 
        census_num as b_census_num, 
        sic
    from (
        select 
            "SIC" as sic, 
            census_num, 
            string_agg(trailer_type_id::varchar, ', ') as trailer_types
        from (
            select 
                tt.*, 
                sub_f.census_num, 
                sub_f.trailer_types, 
                sub_f."SIC"
            from (
                select 
                    string_to_array(sub_e.trailer_types, ' ') as trailer_types, 
                    sub_e.census_num, 
                    sub_e."SIC"
                from (
                    select 
                        string_agg(initcap(sub_d.trailer_type), ' ') as trailer_types, 
                        case 
                            when (product_code = 'OOD' and total_trailers = 1) then 4218 else sub_d."SIC" end as "SIC",
                        sub_d.census_num
                    from (
                        select 
                            case 
                                when (sub_c.total_tractors = 0 and total_trailers > 0) then 'Utility'
                                when (sub_c.total_trailers = 1) then coalesce("Trailer Type if 1 Trailer")
                                when (sub_c.total_trailers = 2) then concat(coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                when (sub_c.total_trailers = 3) then concat(coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                when (sub_c.total_trailers = 4) then concat(coalesce("Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                when (sub_c.total_trailers = 5) then concat(coalesce("Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))    
                                when (sub_c.total_trailers = 6) then concat(coalesce("Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                when (sub_c.total_trailers = 7) then concat(coalesce("Trailer type if 7 or more trailers", "Trailer type if 6 or more trailers", "Trailer Type if 5 or More trailers", "Trailer Type if 4 or more trailers", "Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 3 Trailers", "Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 2 Trailers", "Trailer Type if 1 Trailer"), ' ', coalesce("Trailer Type if 1 Trailer"))
                                when (sub_c.total_trailers > 7) then concat("Trailer type if 7 or more trailers", ' ', "Trailer type if 6 or more trailers", ' ', "Trailer Type if 5 or More trailers", ' ', "Trailer Type if 4 or more trailers", ' ', "Trailer Type if 3 Trailers", ' ', "Trailer Type if 2 Trailers", ' ', "Trailer Type if 1 Trailer")
                            end as trailer_type,
                            sub_c.*
                        from (
                            select 
                                sub_b.total_trailers, 
                                sub_b.census_num, 
                                sub_b.product_code, 
                                sub_b.total_tractors, 
                                sub_b.sub_b_commod_key, 
                                tk.*
                            from (
                                select 
                                    concat( genfreight,  household,  usmail,  intermodal,  paperprod,  beverages,  coldfood,  produce,  meat, 
                                         livestock,  grainfeed,  farmsupp,  drybulk,  bldgmat,  metalsheet,  logpole,  construct,  machlrg,  oilfield,
                                         waterwell,  liqgas,  chem,  coalcoke,  garbage,  drivetow,  motorveh,  mobilehome,  utility,  cargoothr) as sub_b_commod_key,
                                    *

                                from (
                                    select
                                        census_num,
                                        m.product_code,

                                        case 
                                            when(genfreight is not null) then 'genfreight' else null
                                        end as genfreight,
                                        case
                                            when(household is not null) then 'household' else null
                                        end as household,
                                        case
                                            when(metalsheet is not null) then 'metalsheet' else null
                                        end as metalsheet,
                                        case
                                            when(motorveh is not null) then 'motorveh' else null
                                        end as motorveh,
                                        case
                                            when(drivetow is not null) then 'drivetow' else null
                                        end as drivetow,
                                        case
                                            when(logpole is not null) then 'logpole' else null
                                        end as logpole,
                                        case
                                            when(bldgmat is not null) then 'bldgmat' else null
                                        end as bldgmat,
                                        case
                                            when(mobilehome is not null) then 'mobilehome' else null
                                        end as mobilehome,
                                        case
                                            when(machlrg is not null) then 'machlrg' else null
                                        end as machlrg,
                                        case
                                            when(produce is not null) then 'produce' else null
                                        end as produce,
                                        case
                                            when(liqgas is not null) then 'liqgas' else null
                                        end as liqgas,
                                        case
                                            when(intermodal is not null) then 'intermodal' else null
                                        end as intermodal,
                                        case
                                            when(passengers is not null) then 'passengers' else null
                                        end as passengers,
                                        case
                                            when(oilfield is not null) then 'oilfield' else null
                                        end as oilfield,
                                        case
                                            when(livestock is not null) then 'livestock' else null
                                        end as livestock,
                                        case
                                            when(grainfeed is not null) then 'grainfeed' else null
                                        end as grainfeed,
                                        case
                                            when(coalcoke is not null) then 'coalcoke' else null
                                        end as coalcoke,
                                        case
                                            when(meat is not null) then 'meat' else null
                                        end as meat,
                                        case
                                            when(garbage is not null) then 'garbage' else null
                                        end as garbage,
                                        case
                                            when(usmail is not null) then 'usmail' else null
                                        end as usmail,
                                        case
                                            when(chem is not null) then 'chem' else null
                                        end as chem,
                                        case
                                            when(drybulk is not null) then 'drybulk' else null
                                        end as drybulk,
                                        case
                                            when(coldfood is not null) then 'coldfood' else null
                                        end as coldfood,
                                        case
                                            when(beverages is not null) then 'beverages' else null
                                        end as beverages,
                                        case
                                            when(paperprod is not null) then 'paperprod' else null
                                        end as paperprod,
                                        case
                                            when(utility is not null) then 'utility' else null
                                        end as utility,
                                        case
                                            when(farmsupp is not null) then 'farmsupp' else null
                                        end as farmsupp,
                                        case
                                            when(construct is not null) then 'construct' else null
                                        end as construct,
                                        case
                                            when(waterwell is not null) then 'waterwell' else null
                                        end as waterwell,
                                        case
                                            when(cargoothr is not null) then 'cargoothr' else null
                                        end as cargoothr,
                                        sum(owntrail + trmtrail + trptrail) as total_trailers,
                                        sum(owntract + trmtract + trptract) as total_tractors
                                    from my_public.mcmiscandidate as m

                                    where 
                                        product_code is not null and 
                                        product_code in ('OOD', 'NMC')
                                    group by 

                                        genfreight, household, metalsheet, motorveh, drivetow, logpole, bldgmat, 
                                        mobilehome, machlrg, produce, liqgas, intermodal, passengers, oilfield, 
                                        livestock, grainfeed, coalcoke, meat, garbage, usmail, chem,
                                        drybulk, coldfood, beverages, paperprod, utility, farmsupp, construct,
                                        waterwell, othercargo, census_num, cargoothr, product_code
                                ) as sub_a
                            ) as sub_b
                            left join 
                            "Trailer_key" as tk
                            on btrim(tk.commod_key) = btrim(sub_b.sub_b_commod_key)
                        ) as sub_c 
                    ) as sub_d
                    group by census_num, trailer_type, "SIC", product_code, total_trailers
                ) as sub_e
            ) as sub_f
            join fleetseek.trailer_type as tt
            on tt.name = any(sub_f.trailer_types)
            order by census_num, trailer_type_id
        ) as sub_g
        group by "SIC", sub_g.census_num

    ) as sub_h

) as final
on final.b_census_num = sub_q.census_num
 

"""

outputquery = "COPY ({0}) TO STDOUT WITH CSV HEADER".format(query)


with open(r'\\informaplc.sharepoint.com@SSL\DavWWWRoot\sites\GAATLFS1\Shared Documents\FleetSeek Atlanta\MCMIS_candidates\MCMIS_output\candidates' + dt_string + '.csv', 'w') as f:
    cur.copy_expert(outputquery, f)
conn.close()